.loginform {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  border: 2px solid black;
}
.container {
  width: 360px;
  height: 400px;
  margin: 8% auto;
  background: #fff;
  border-radius: 5px;
  position: relative;
}
h1 {
  text-align: right center;
  margin-bottom: 40px;
  color: solid black;
}
.container form {
  width: 300px;
  position: absolute;
  top: 100px;
  left: 40px;
}
form input {
  width: 100%;
  padding: 10px 5 px;
  margin: 5px 0;
  border: 0;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;
}
::placeholder {
  color: #777;
}
.btn-box {
  width: 100%;
  margin: 30px auto;
  text-align: center;
}
form button {
  width: 110px;
  height: 35px;
  margin: 0 10px;
  border-radius: 30px;
  border: 0;
  outline: none;
  color: #fff;
  cursor: pointer;
}
#Form2 {
  left: 450px;
}
#Form3 {
  left: -450px;
}
