.container {
  width: 360px;
  height: 400px;
  margin: 8% auto;
  background: #fff;
  border-radius: 5px;
  position: relative;
}
h1 {
  text-align: right center;
  margin-bottom: 40px;
  color: solid black;
}
.container form {
  width: 300px;
  position: absolute;
  top: 100px;
  left: 40px;
}
form input {
  width: 100%;
  padding: 10px 5 px;
  margin: 5px 0;
  border: 0;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;
}
::placeholder {
  color: #777;
}
.btn-box {
  width: 100%;
  margin: 30px auto;
  text-align: center;
}
form button {
  width: 110px;
  height: 35px;
  margin: 0 10px;
  border-radius: 30px;
  border: 0;
  outline: none;
  color: #fff;
  cursor: pointer;
}
.loginform {
  border: 2px solid black;
  width: 420px;
  color: black;
  border-radius: 40px;
  padding: 23px;
}
.loginform h1 {
  font-size: 36px;
  text-align: center;
  margin-bottom: -6px;
}
.loginform .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  font-size: 15px;
  padding: 20px 45px 20px 20px;
}
.input-box input {
  width: 90%;
  height: 100%;
  border: none;
  outline: none;
  border: 2px solid black;
  border-radius: 35px;
}
.input-box input::placeholder {
  color: black;
  position: relative;
  left: 20%;
}
.input-box i {
  font-size: 20px;
  position: absolute;
  left: 10%;
  top: 46%;
  /* transform:translate(-50%) */
}
.loginform .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: 3px 0px 30px;
}
.remember-forgot label {
  position: relative;
  /* left:-66px; */
  top: 14px;
}
/* .remember-forgot label input{
  margin-right: 3px;
  position:relative;
  /* left:-66px; */
/* top:14px; */
/* } */
.remember-forgot a {
  color: black;
  text-decoration: none;
  position: relative;
  top: 14px;
}
.remember-forgot a:hover {
  text-decoration: underline;
}
.loginform .btn {
  width: 95%;
  border: none;
  outline: none;
  height: 45px;
  background-color: rgb(121, 228, 249);
  color: black;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}
.loginform .register-link {
  font-size: 14.5px;
  text-align: center;
  margin-top: 10px;
}
.register-link a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}
.register-link a:hover {
  text-decoration: underline;
}
#Form2 {
  left: 450px;
}
#Form3 {
  left: -450px;
}
.step-row {
  width: 360px;
  height: 40px;
  margin: 0 auto;
  display: flex;
  box-shadow: 0 -1px 5px -1px #000;
  position: relative;
}
.step-col {
  width: 120px;
  padding: 10px;
  text-align: center;
  color: #333;
  position: relative;
}
#Progress {
  width: 120px;
  height: 100%;
  position: absolute;
}
#Progress::after {
  width: 0;
  height: 0;
  content: '';
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  position: absolute;
  right: -20px;
  top: 0;
  border-left: 20px solid #333;
}
